<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Neptun Cafe</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<nav class="navbar navbar-expand-lg navbar-light shadow py-0" style="	box-shadow: 0px 0px 2px  black;"><a class="navbar-brand text-primary" href="/"><img class="d-inline-block align-top" src="/images/Neptun cafe logo.png" width="90" height="60" alt=""></a><button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar5"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbar5">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item text-uppercase"><a class="nav-link" href="/offers"><b>Oferta</b></a></li>
            <li class="nav-item text-uppercase"><a class="nav-link" href="/article"><b>Ekspresy</b></a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item text-uppercase"><a class="nav-link" href="/service"><b>Us&lstrok;ugi</b></a></li>
        </ul><a class="btn navbar-btn ml-md-2 shadow text-uppercase btn-outline-info border-brown text-body" style="/css/style.css" href="/contact"><b>Kontakt</b></a>
    </div>
</nav>
    <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-10">
          <h1>Współpraca</h1>
          <div class="row">
            <div class="col-md-6 px-5 mt-3"> <i class="d-block fa fa-stop-circle fa-4x mb-3 text-muted"></i>
              <h4>Szkolenia i kontrola jakości.</h4>
              <p class="mb-3">Zadbamy o wyszkolenie Twojego pracownika (kontroli jakości serwowanej kawy i podnoszenie umiejętności serwujących ją osób): szkolenia cykliczne, (latte art, alternatywy, espresso), audyty Baristów (czyszczenie sprzętu, jakość przygotowanej kawy), akcesoria dla Baristów (tamper, zapski). Zależy nam, aby kawa serwowana u Ciebie smakowała tak samo jak u nas w palarni. Przygotowanie kawy nie jest trudne, ale utrzymanie jakości i serwowanie zawsze poprawnego espresso jest bardzo ciężkie!!!</p> 
            </div>
            <div class="col-md-6 px-5 mt-3">
              <i class="d-block fa fa-stop-circle-o fa-4x mb-3 text-muted"></i>
              <h4>Marka własna</h4>
              <p class="mb-3">Własna marka kawy z Twoim logo na opakowaniu to świetna forma promocji, wykorzystywana jako ekskluzywny gadżet. Zaufali nam między innymi: Cukiernia Williams, Piekarnia Sarzyński, Urząd Miasta Lublin oraz lokalne restauracje i kawiarnie. Pomożemy Ci stworzyć własną kawę, zarówno jej wyjątkowy smak, opakowanie i logo. Wsparcie marketingowe: Przepisy na kawy sezonowe (lato/zima) wypożyczenie sprzętu (nitro coffee, ekspres, młynek) Półka z naszymi kawami do dalszej odsprzedaży.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="py-1 text-center" >
        <div class="container">
        <div class="row">
            <div class="col-md-12">
            <h3>Wybierz najlepszą dla siebie ofertę i wygeneruj z niej PDF:</h3>
            </div>
        </div>
        </div>
    </div>
    <div class="py-1">
        <div class="container">
                    <div class="card-body">
                        <form action="/service" method="POST">
                            <center><textarea name="article1" id="article" cols="100" rows="15" style="word-wrap:break-word;"></textarea></center>
                            <br>
                            <center><button type="submit" class="btn btn-primary">Generuj PDF</button></center>
                        </form>
                    </div>
                    </div>
                    </div>
        </div>
        </div>
    <footer class="footer"></footer>
<div class="py-2 shadow">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center"><i class="mr-1 fa fa-road"></i><a href="https://goo.gl/maps/R5qZtS9P7N3wKUkc7" target="_blank">Długi Targ | 80-833, Gdańsk</a><br /><i class="mr-1 fa fa-phone"></i><a href="tel:+246 - 542 550 5462">(058) 284-7309</a><br /><i class="mr-1 fa fa-envelope"></i><a href="mailto:neptuncafe.gd@gmail.com">neptuncafe.gd@gmail.com</a></div>
            <div class="col-md-12 d-flex align-items-center justify-content-center my-3"><a href="#"><i class="d-block fa fa-facebook-official text-muted fa-lg mr-2"></i></a><a href="#"><i class="d-block fa fa-instagram text-muted fa-lg mx-2"></i></a><a href="#"><i class="d-block fa fa-google-plus-official text-muted fa-lg mx-2"></i></a><a href="#"><i class="d-block fa fa-pinterest-p text-muted fa-lg mx-2"></i></a><a href="#"><i class="d-block fa fa-reddit text-muted fa-lg mx-2"></i></a><a href="#"><i class="d-block fa fa-twitter text-muted fa-lg ml-2"></i></a></div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="mb-0">Copyrights &copy; 2021 Marta Brito</p>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script><script src="/js/main.js"></script>

</body>

</html>
