doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css')
  link(rel='stylesheet' href='https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css')
  link(rel='stylesheet' href='/css/style.css')
  title Neptun Cafe
  link(rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon')
nav.navbar.navbar-expand-lg.navbar-light.shadow.py-0(style='	box-shadow: 0px 0px 2px  black;')
    a.navbar-brand.text-primary(href='/')
      img.d-inline-block.align-top(src='/images/Neptun cafe logo.png' width='90' height='60' alt='' style='')
    button.navbar-toggler.navbar-toggler-right.border-0(type='button' data-toggle='collapse' data-target='#navbar5')
      span.navbar-toggler-icon
    #navbar5.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.text-uppercase
          a.nav-link(href='/offers')
            b Oferta
        li.nav-item.text-uppercase
          a.nav-link(href='/article')
            b Ekspresy
      ul.navbar-nav.ml-auto
        li.nav-item.text-uppercase
          a.nav-link(href='/service')
            b Us&lstrok;ugi
      a.btn.navbar-btn.ml-md-2.shadow.text-uppercase.btn-outline-info.border-brown.text-body(style='/css/style.css' href='/contact')
        b Kontakt
.py-4.text-center
  .container
    .row
      .col-md-12
        h1 W naszej palarni powstają kawy z najwyżej punktowanych arabik. Dbałość o jakość to nasz główny cel. 

.py-4
  .container
    .row
      .px-lg-6.d-flex.flex-column.justify-content-center.col-lg-6
        h2 Kawa świeżo palona Arabica 250g • Brazylia Santos • Ziarnista 
        h5
          span.badge.badge-success New
        p.mb-1.lead
        | BRAZYLIA SANTOS – kawa o delikatnym, łagodnym czekoladowo – orzechowym smaku, pozbawiona goryczki i charakteryzująca się niewielką kwaskowością. Idealna do espresso i kawiarki. Brazylia jest najwięszym producentem kawy na świecie - ponad 30% produkcji. Pochodzenie: Ameryka Południowa – Brazylia (Sao Paulo).
      .col-lg-6
        img.img-fluid.d-block(src='/images/kawa.jpg' width='80%' height='80%'  alt='' style='')
.py-4
  .container
    .row
      .px-lg-6.d-flex.flex-column.justify-content-center.col-lg-6
        h2 Kawa świeżo palona Arabica 250g • Burundi Fully Washed handpicked Buthinda • Ziarnista
        p.mb-1.lead
        | Kawa  Arabica Burundi Fully Washed - ręcznie zbierana kawa wysokiej jakości. Kawa Arabica Burundi Fully Washed -obrabiana metodą mokrą, uprawiana na wysokościach od 1200 - 2000 m n.p.m. Charakteryzuje się orzeźwiającym kwiatowo - owocowym smakiem i dobrze zbilansowaną kwaskowatością. Można odnaleźć nuty owoców tropikalnych, jagód i cynamonu.
      .col-lg-6
        img.img-fluid.d-block(src='/images/kawa2.png' width='80%' height='80%' alt='' style='')
.py-4
  .container
    .row
      .px-lg-6d-flex.flex-column.justify-content-center.col-lg-6
        h2 Kawa świeżo palona Arabica 1kg • Honduras Conejo • Ziarnista
        p.mb-1.lead
        | Arabica Honduras SHG (strictly high grown ) uprawiana jest na żyznych glebach. Charakteryzuje się niską kwaskowatością, dominują nuty czekoladowo - orzechowe  połączone z lekkimi owocowymi, winogronami. Na podniebieniu daje przyjemne kremowe uczucie. Bardzo dobra jakość w atrakcyjnej cenie.
      .col-lg-6
        img.img-fluid.d-block(src='/images/kawa3.jpg' width='80%' height='80%' alt='' style='')       
.py-4
  .container
    .row
      .px-lg-6.d-flex.flex-column.justify-content-center.col-lg-6
        h2 Kawa świeżo palona Arabica 250g  • Kenia AB+ • Ziarnista
        p.mb-1.lead
        | KENIA AB+ – kawa o wspaniałym aromacie, posiada znakomitą równowagę, wiśniową kwaskowatość, moc i silny akcent owocowy, pozostawia bardzo przyjemny i utrzymujący się przez dłuższą chwilę posmak. Doceniana przez miłośników kawy na całym świecie. Kawa jest palona metodą tradycyjną w piecu bębnowym.
      .col-lg-6
        img.img-fluid.d-block(src='/images/kawa4.jpg' width='80%' height='80%' alt='' style='')  

footer.footer
.py-4.shadow
  .container
    .row
      .col-md-12.text-center
          i.mr-1.fa.fa-road
          a(href='https://goo.gl/maps/R5qZtS9P7N3wKUkc7' target='_blank')
            | Długi Targ |
            | 80-833, Gdańsk
          br
          i.mr-1.fa.fa-phone
          a(href='tel:+246 - 542 550 5462') (058) 284-7309
          br
          i.mr-1.fa.fa-envelope
          a(href='mailto:neptuncafe.gd@gmail.com') neptuncafe.gd@gmail.com
      .col-md-12.d-flex.align-items-center.justify-content-center.my-3
        a(href='#')
          i.d-block.fa.fa-facebook-official.text-muted.fa-lg.mr-2
        a(href='#')
          i.d-block.fa.fa-instagram.text-muted.fa-lg.mx-2
        a(href='#')
          i.d-block.fa.fa-google-plus-official.text-muted.fa-lg.mx-2
        a(href='#')
          i.d-block.fa.fa-pinterest-p.text-muted.fa-lg.mx-2
        a(href='#')
          i.d-block.fa.fa-reddit.text-muted.fa-lg.mx-2
        a(href='#')
          i.d-block.fa.fa-twitter.text-muted.fa-lg.ml-2
    .row
      .col-md-12.text-center
        p.mb-0 Copyrights &copy; 2021 Marta Brito

script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous' style='')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js' integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut' crossorigin='anonymous' style='')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous' style='')
      
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
script(src='/bower_components/jquery/dist/jquery.js')
script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
script(src='/js/main.js')
